@font-face {
    font-family: 'Raleway';
    src: url(./assets/Raleway-Light.ttf);
}

body{
    background-image: url(./assets/marek-okon-2m6wr8qMiio-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: blur(0.5);
    font-family: 'Raleway';
    font-size: large;
}
.title{
    background-color: black;
    color: white;
    background-attachment: scroll;
    width: 50%;
    border-radius: 5rem;
    text-align: center;
    padding: 10px;
    margin-left: 25%;
    margin-top: 5%;
}
form{
    background-color: black;
    width: 50%;
    align-items: center;
    border-radius: 5rem;
    margin-left: 25%;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.questionbox{
    width: 50%;
    margin-left: 25%;
    color: white;
}
#othertext{
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 1rem;
}
#textfill{
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 1rem;
    margin-bottom: 5%;
}
#btn{
    background-color: white;
    color: black;
    font-family: 'Raleway';
    font-weight: bolder;
    margin-top: 3%;
    border-radius: 2rem;
}
#btn:hover{
    cursor: pointer;
    background-color: grey;
    color: black;
}